@import "variable.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

::-webkit-scrollbar {
  background-color: $dark;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
}

.accordion-button {
  &::after {
    background-image: url(../img/arrow-down.png);
    background-size: 2rem;
    width: 27px;
    height: 22px;
    background-position: center;
  }

  &:not(.collapsed)::after {
    background-image: url(../img/arrow-down.png);
  }
}
